{% extends "layout.html" %}

{% block title %}
3D Tudo
{% endblock %}

{% block main %}
<div class="pix-container">
    <h2 class="pix-title">Para Finalizar, Basta Fazer um pix de {{valor}}R$ para <a href="#" class="pix-link" id="pix-link">13357973600</a></h2>
    <p>Você recebera o comfirmamento de seu pagamento algumas horas depois</p>
</div>

<script>
    // Função para copiar o texto do PIX
    function copiarPix() {
            const pixText = "13357973600";
            navigator.clipboard.writeText(pixText)
                .then(() => {
                    alert("Link copiado: " + pixText);
                })
                .catch((err) => {
                    console.error("Erro ao copiar o texto: ", err);
                });
        }

        document.getElementById("pix-link").addEventListener("click", function (event) {
            event.preventDefault();
            copiarPix();
        });
    </script>
